<h1>Previous Q &amp; A's</h1>

<table>

<% @qas.sort { |a,b| b.created_at <=> a.created_at }.each do |qa| %>
  <tr>
    <td><b><%=h qa.question %></b><br/><%= h qa.name %>  <span><%= h qa.created_at.to_s(:short) %></span><hr/></td>
	<% if session[:admin] %>
    <td><%= link_to 'Show', qa %></td>
    <td><%= link_to 'Edit', edit_qa_path(qa) %></td>
    <td><%= link_to 'Destroy', qa, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New qa', new_qa_path %>